@charset "UTF-8";

/* Initialisation of Generic Style */
* {
  /* Global Part */
  box-sizing: border-box;
  font-weight: 600;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #000;
  transition: all 0.1s ease-in-out;
}

::selection {
  background-color: #0065fc;
  color: #fff;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 5px;
}

h2 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 10px;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
}

a {
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  color: #0065fc;
}

a:hover h4,
a:hover p {
  color: #0065fc;
}

p {
  font-weight: 400;
}

input {
  padding-left: 5px;
  border: solid #f2f2f2;
  border-width: 1px 0;
}

input:focus {
  outline: 1px solid #0065fc;
}

.btn {
  width: 120px;
  border: none;
  padding: 0;
  border-radius: 0 14px 14px 0;
  background: #0065fc;
  color: #fff;
  cursor: pointer;
}

form {
  margin: 20px 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

label {
  margin: 0 10px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.card {
  background: #fff;
  border-radius: 14px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 14px 14px 24px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.card:hover h4,
.card:hover p,
.card:hover strong {
  color: #0065fc;
}

/* Header Section - Desktop */
header {
  margin: 30px 3% 30px 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 60%;
}

.navlinks li {
  list-style-type: none;
  width: 150px;
  display: inline-block;
  text-align: center;
}

.navlinks li div {
  width: 100%;
  height: 3px;
  position: relative;
  bottom: 68px;
}

.navlinks a:hover + .first-select,
.navlinks a:hover + .second-select {
  background-color: #0065fc;
}

/* Accomodations Search Section / Form Section - Desktop */
.form-choice {
  margin: 30px 3%;
}

.city-choice {
  height: 45px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.city-choice .icon {
  width: 45px;
  background: #f2f2f2;
  color: #000;
  border-radius: 14px 0 0 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.city-choice .icon:hover {
  background: #0065fc;
  color: #fff;
}

.city-choice .research-input {
  width: 220px;
  padding-left: 20px;
}

.city-choice .research-btn {
  width: 120px;
}

.city-choice .research-btn:hover {
  background: #f2f2f2;
  color: #000;
}

.city-choice .research-btn:hover i {
  color: #000;
}

.city-choice .mobile-btn {
  display: none;
}

/* Accomodations Search Section / Form Section - Tablet ( less than 992px) */
@media (max-width: 992px) {
  .form-choice {
    margin: 15px 2% 5% 15px;
  }
}

/* Filters Search Sub-section - Desktop */
.search-filters {
  display: flex;
  align-items: baseline;
}

.search-filters p {
  font-weight: 600;
  margin-right: 2%;
}

.search-filters .inner-filters {
  display: flex;
}

.search-filters .inner-filters input[type="checkbox"] {
  display: none;
  position: relative;
}

.search-filters
  .inner-filters
  .filter
  input[type="checkbox"]:hover
  + .inner-label {
  background: #0065fc;
}

.search-filters
  .inner-filters
  .filter
  input[type="checkbox"]:hover
  + .inner-label
  i {
  background: #f2f2f2;
  color: #000;
}

.search-filters
  .inner-filters
  .filter
  input[type="checkbox"]:hover
  + .inner-label
  label {
  color: #fff;
}

.search-filters
  .inner-filters
  .filter
  input[type="checkbox"]:checked
  ~ .inner-label {
  background: #0065fc;
}

.search-filters
  .inner-filters
  .filter
  input[type="checkbox"]:checked
  ~ .inner-label
  label {
  color: #fff;
}

.search-filters .inner-filters .inner-label {
  height: 45px;
  margin: 0 50px 0 0;
  border: solid #d9d9d9;
  border-width: 2px;
  border-radius: 0 30px 30px 0;
  margin: 0 50px 0 0;
  display: flex;
}

.search-filters .inner-filters .inner-label i {
  width: 45px;
  height: calc(100% + 6px);
  margin: -3px 0 0 -18px;
  background: #deebff;
  color: #0065fc;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer of Accomodations Search Section - Desktop */
.footer-panel {
  display: flex;
}

.footer-panel i {
  width: 20px;
  height: 20px;
  border: solid #d9d9d9;
  border-width: 1.5px;
  border-radius: 30px;
  padding: 2px 1px 1px;
  margin-right: 10px;
  color: #0065fc;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/* Second-Section - Accomodations List - Generic Styles - Desktop */
.accomodations-list {
  height: 700px;
  margin: 30px 2.5%;
  display: flex;
  justify-content: space-between;
}

.hostels-list {
  height: 80%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.hostels-list p {
  font-size: 12px;
}

.card__hostel {
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
}

.inner-hostel {
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__hostel img {
  object-fit: cover;
  background-position: center;
}

/* Second-Section - Accomodations List - Stars Styles - Desktop */

.stars {
  display: flex;
  width: 100%;
}

.stars i {
  font-size: 12px;
}

.three-stars i {
  color: #0065fc;
}

.three-stars i:nth-child(n + 4) {
  color: #d9d9d9;
}

.four-stars i {
  color: #0065fc;
}

.four-stars i:nth-child(n + 5) {
  color: #d9d9d9;
}

.five-stars i {
  color: #0065fc;
}

/* Second-Section - Accomodations List - Main Panel - Desktop */
.main-panel {
  width: 66%;
  padding: 30px 2% 10px;
  background: #f2f2f2;
  border-radius: 14px;
}

.main-panel a {
  font-weight: 600;
}

.card__hostel--main {
  width: 30%;
  height: 45%;
}

.card__hostel--main .inner-hostel {
  height: 40%;
}

.card__hostel--main img {
  width: 100%;
  height: 60%;
  border-radius: 14px 14px 0 0;
}

/* Second-Section - Accomodations List - Main Panel - Desktop */
.aside-panel {
  width: 32%;
  padding: 30px 2% 10px;
  background: #f2f2f2;
  border-radius: 14px;
}

.header-aside {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card__hostel--aside {
  width: 100%;
  height: 28%;
}

.card__hostel--aside .inner-hostel {
  width: 50%;
}

.card__hostel--aside img {
  width: 50%;
  height: 100%;
  border-radius: 14px 0 0 14px;
}

/* Third-Section - Activities List Panel Styles - Desktop */
.activities {
  margin: 30px 2.5% 120px;
  height: 600px;
}

.activities-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.card__activity {
  width: 23%;
}

.card__activity img {
  width: 100%;
  height: 90%;
  border-radius: 14px 14px 0 0;
  object-fit: cover;
  background-position: center;
}

.card__activity .text-card {
  padding: 3%;
}

.card__activity--large {
  height: 100%;
}

.card__activity--medium {
  height: 55%;
}

.card__activity--medium img {
  height: 82.5%;
}

.card__activity--small {
  height: 40%;
}

.card__activity--small img {
  height: 76%;
}

/* Footer Section - Desktop */
footer {
  height: 200px;
  padding: 2% 30% 5% 2.5%;
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

footer a {
  padding-top: 10px;
}

.footer__part {
  display: flex;
  flex-direction: column;
}
