# No documents type .pdf .docx .doc .txt .md
*.pdf
*.txt
*.docx
*.doc
*.md

# No documents mock-up files
*.DS_Store

#No auto generated sass/scss files

old_index.html
old_styles.scss
old_styles.css

*.map

#no mock-up folder
/ressources/mock-up

