/* Project Library - Colours - Sizes - Stars Rating*/
/* Initialisation of Generic Style */
* {
  /* Global Part */
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: black;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  /* Type text Part */
  /* Containers Text Part */
}

* ::-moz-selection {
  background-color: #0065fc;
  color: white;
}

* ::selection {
  background-color: #0065fc;
  color: white;
}

* h1 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 5px;
}

* h2 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
}

* h3 {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 10px;
}

* h4 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
}

* a {
  text-decoration: none;
  font-weight: 400;
}

* a:hover {
  color: #0065fc;
}

* p {
  font-weight: 400;
}

* legend {
  margin-right: 2%;
}

* input {
  padding-left: 5px;
  border: solid #f2f2f2;
  border-width: 1px 0;
}

* input:focus {
  outline: 1px solid #0065fc;
}

* .btn {
  width: 120px;
  border: none;
  padding: 0;
  border-radius: 0 14px 14px 0;
  background: #0065fc;
  color: white;
  cursor: pointer;
}

* form {
  margin: 20px 0;
}

* fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

* label {
  margin: 0 10px 0px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

/* Header Section - Desktop */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 3% 30px 4%;
}

header .logo img {
  width: 60%;
}

header .logo:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.navlinks li {
  list-style-type: none;
  display: inline-block;
  width: 150px;
  text-align: center;
}

.navlinks li div {
  height: 3px;
  width: 100%;
  position: relative;
  bottom: 68px;
}

.navlinks li a:hover + .first-select,
.navlinks li a:hover + .second-select {
  background-color: #0065fc;
}

/* Header Section - Mobile (less than 768px) */
@media (max-width: 768px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 10px 0 0 0;
  }
  header .logo img {
    width: 75%;
    margin-bottom: 5%;
    position: relative;
    left: 23%;
  }
  nav,
  .navlinks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navlinks li {
    list-style-type: none;
    display: inline-block;
    margin-right: 0;
    width: 50%;
  }
  .navlinks li div {
    background: #f2f2f2;
    height: 3px;
    position: relative;
    top: 15px;
  }
}

/* Accomodations Search Section / Form Section - Desktop */
.form-choice {
  margin: 30px 3% 30px 3%;
}

.form-choice .city-choice {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
}

.form-choice .city-choice .icon {
  width: 45px;
  background: #f2f2f2;
  color: black;
  border-radius: 14px 0 0 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-choice .city-choice .icon:hover {
  background: #0065fc;
  color: white;
}

.form-choice .city-choice .research-input {
  padding-left: 20px;
  width: 220px;
}

.form-choice .city-choice .research-btn {
  width: 120px;
}

.form-choice .city-choice .research-btn:hover {
  background: #f2f2f2;
  color: black;
}

.form-choice .city-choice .research-btn:hover i {
  color: black;
}

.form-choice .city-choice .mobile-btn {
  display: none;
}

/* Accomodations Search Section / Form Section - Tablet ( less than 992px) */
@media (max-width: 992px) {
  .form-choice {
    margin: 15px 2% 5% 15px;
  }
}

/* Accomodations Search Section / Form Section - Mobile (less than 768px) */
@media (max-width: 768px) {
  .form-choice {
    margin: 40px 5% 5% 10px;
  }
  .form-choice .city-choice .research-btn {
    width: 45px;
    height: calc(100% + 2px);
    margin-top: -1px;
    border-radius: 14px;
    margin-left: -20px;
  }
  .form-choice .city-choice .desktop-btn {
    display: none;
  }
  .form-choice .city-choice .mobile-btn {
    display: inline;
  }
  .form-choice .city-choice .mobile-btn i {
    color: white;
  }
}

/* Filters Search Sub-section - Desktop */
.search-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.search-filters .inner-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-filters .inner-filters input[type="checkbox"] {
  display: none;
  position: relative;
}

.search-filters .inner-filters .filter input[type="checkbox"]:hover + .inner-label {
  background: #0065fc;
}

.search-filters .inner-filters .filter input[type="checkbox"]:hover + .inner-label i {
  background: #f2f2f2;
  color: black;
}

.search-filters .inner-filters .filter input[type="checkbox"]:hover + .inner-label label {
  color: white;
}

.search-filters .inner-filters .filter input[type="checkbox"]:checked ~ .inner-label {
  background: #0065fc;
}

.search-filters .inner-filters .filter input[type="checkbox"]:checked ~ .inner-label label {
  color: white;
}

.search-filters .inner-filters .inner-label {
  height: 45px;
  border: solid #d9d9d9;
  border-width: 2px;
  border-radius: 0px 30px 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 50px 0 0;
}

.search-filters .inner-filters .inner-label i {
  background: #deebff;
  color: #0065fc;
  width: 45px;
  height: calc(100% + 6px);
  border-radius: 30px;
  margin: -3px 0 0 -18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Accomodations Search Section - Tablet (less than 992px) */
@media (max-width: 992px) {
  .search-filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .search-filters legend {
    margin-bottom: 15px;
  }
  .search-filters .inner-filters {
    margin: 0 5% 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .search-filters .inner-filters .inner-label {
    margin-bottom: 15px;
  }
}

/* Footer of Accomodations Search Section - Desktop */
.footer-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-panel i {
  width: 20px;
  height: 20px;
  border: solid #d9d9d9;
  border-width: 1.5px;
  border-radius: 30px;
  padding: 2px 1px 1px 1px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #0065fc;
  font-size: 12px;
}

/* Second-Section - Accomodations List - Generic Styles - Desktop */
.accomodations-list {
  margin: 30px 2.5%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Second-Section - Accomodations List - Main Panel Styles - Desktop */
  /* Second-Section - Accomodations List - Aside Panel Styles - Desktop */
}

.accomodations-list .hostels-list {
  height: 80%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.accomodations-list .hostels-list p {
  font-size: 12px;
}

.accomodations-list .hostels-list .hostel {
  background: white;
  border-radius: 14px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.accomodations-list .hostels-list .hostel .inner-hostel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2%;
}

.accomodations-list .hostels-list .hostel .inner-hostel .text-card {
  height: 80%;
}

.accomodations-list .hostels-list .hostel .inner-hostel .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.accomodations-list .hostels-list .hostel .inner-hostel .stars i {
  font-size: 12px;
}

.accomodations-list .hostels-list .hostel .inner-hostel .three-stars i {
  color: #0065fc;
}

.accomodations-list .hostels-list .hostel .inner-hostel .three-stars i:nth-child(n + 4) {
  color: #d9d9d9;
}

.accomodations-list .hostels-list .hostel .inner-hostel .four-stars i {
  color: #0065fc;
}

.accomodations-list .hostels-list .hostel .inner-hostel .four-stars i:nth-child(n + 5) {
  color: #d9d9d9;
}

.accomodations-list .hostels-list .hostel .inner-hostel .five-stars i {
  color: #0065fc;
}

.accomodations-list .hostels-list .hostel img {
  -o-object-fit: cover;
     object-fit: cover;
  background-position: 50% 50%;
}

.accomodations-list .hostels-list .hostel:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.accomodations-list .hostels-list .hostel:hover h4,
.accomodations-list .hostels-list .hostel:hover p,
.accomodations-list .hostels-list .hostel:hover strong {
  color: #0065fc;
}

.accomodations-list main {
  width: 66%;
  padding: 30px 2% 10px 2%;
  background: #f2f2f2;
  border-radius: 14px;
}

.accomodations-list main a {
  font-weight: 600;
}

.accomodations-list main .hostel {
  width: 30%;
  height: 45%;
}

.accomodations-list main .hostel .inner-hostel {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.accomodations-list main .hostel img {
  width: 100%;
  height: 60%;
  border-radius: 14px 14px 0 0;
  padding: 0 0 5px 0;
}

.accomodations-list aside {
  width: 32%;
  padding: 30px 2% 10px 2%;
  background: #f2f2f2;
  border-radius: 14px;
}

.accomodations-list aside .header-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accomodations-list aside .hostel {
  width: 100%;
  height: 28%;
}

.accomodations-list aside .hostel .inner-hostel {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accomodations-list aside .hostel img {
  width: 50%;
  height: 100%;
  border-radius: 14px 0 0 14px;
  padding: 0 10px 0 0;
}

/* Second-Section - Accomodations List - Generic Styles - Tablet */
@media (max-width: 992px) {
  .accomodations-list {
    margin: 30px 0;
    width: 100%;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    /* Second-Section - Accomodations List - Main Panel Styles - Tablet */
    /* Second-Section - Accomodations List - Aside Panel Styles - Tablet */
  }
  .accomodations-list main {
    width: 100%;
    height: 600px;
    background: white;
    padding: 30px 2% 10px 2%;
  }
  .accomodations-list aside {
    width: 100%;
    height: 300px;
    border-radius: 0;
    padding: 30px 2% 10px 2%;
  }
  .accomodations-list aside .hostel {
    width: 30%;
    height: 100%;
  }
  .accomodations-list aside .hostel .inner-hostel {
    width: 100%;
  }
  .accomodations-list aside .hostel img {
    width: 100%;
    height: 60%;
    border-radius: 14px 14px 0 0;
    padding: 0 0 5px 0;
  }
}

/* Second-Section - Accomodations List - Generic Styles - Mobile */
@media (max-width: 768px) {
  .accomodations-list {
    /* Second-Section - Accomodations List - Main Panel Styles - Mobile */
    /* Second-Section - Accomodations List - Aside Panel Styles - Mobile */
  }
  .accomodations-list main {
    padding: 30px 5% 10px 5%;
  }
  .accomodations-list aside {
    padding: 30px 5% 10px 5%;
  }
}
/*# sourceMappingURL=styles.css.map */