$basic-blue: #0065fc;
$light-blue: #deebff;
$basic-gray: #f2f2f2;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 4%;
    .logo {
        cursor: pointer;
        width: 5%;
    }
}

.navlinks li {
    list-style-type: none;
    display: inline-block;
    padding-right: 100px;
    div {
        background: $light-blue;
        height: 3px;
        width: 150%;
        position: relative;
        bottom: 58px;
        right: 25%;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        color: $basic-blue;
    }
    a:hover + .first-select,
    a:hover + .second-select {
        background-color: $basic-blue;
    }
}
