* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: black;
}

* ::-moz-selection {
  background-color: #0065fc;
  color: white;
}

* ::selection {
  background-color: #0065fc;
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 4%;
  font-size: 18px;
}

header .logo {
  width: 60%;
}

.navlinks li {
  list-style-type: none;
  display: inline-block;
  width: 150px;
  text-align: center;
}

.navlinks li div {
  height: 3px;
  width: 100%;
  position: relative;
  bottom: 68px;
}

.navlinks li a {
  text-decoration: none;
}

.navlinks li a:hover {
  color: #0065fc;
}

.navlinks li a:hover + .first-select,
.navlinks li a:hover + .second-select {
  background-color: #0065fc;
}

@media (max-width: 768px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 0 0 0;
  }
  header .logo-a {
    padding-bottom: 5%;
  }
  header .logo {
    width: 75%;
    position: relative;
    left: 23%;
  }
  nav,
  .navlinks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navlinks li {
    font-size: 24px;
    list-style-type: none;
    display: inline-block;
    padding-right: 0;
    width: 50%;
  }
  .navlinks li div {
    background: #f2f2f2;
    height: 4px;
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    top: 15px;
  }
}

section {
  padding: 0 4%;
  font-size: 18px;
}

.accomodations h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.accomodations form {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accomodations form .city-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
}

.accomodations form .city-choice .icon {
  height: 100%;
  width: 45px;
  background: #f2f2f2;
  border-radius: 10px 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.accomodations form .city-choice input {
  font-weight: 600;
}

.accomodations form .city-choice #Search-Zone {
  width: 220px;
  padding-left: 20px;
  border: solid #f2f2f2;
  border-width: 1px 0;
}

.accomodations form .city-choice #Search-Zone:focus {
  outline: 1px solid #0065fc;
}

.accomodations form .city-choice #Search-Btn {
  border: none;
  width: 130px;
  border-radius: 0 10px 10px 0;
  background: #0065fc;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */