$basic-blue: #0065fc;
$light-blue: #deebff;
$basic-gray: #f2f2f2;
$XLarge: 32px;
$Large: 24px;
$Medium: 18px;
$Small: 14px;
$XSmall: 8px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 4%;
    font-size: $Medium;
    .logo {
        width: 60%;
    }
}

.navlinks li {
    list-style-type: none;
    display: inline-block;
    padding-right: 100px;
    div {
        height: 3px;
        width: 150%;
        position: relative;
        bottom: 68px;
        right: 25%;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        color: $basic-blue;
    }
    a:hover + .first-select,
    a:hover + .second-select {
        background-color: $basic-blue;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        box-sizing: border-box;
        padding: 10px 0 0 0;
        .logo-a {
            padding-bottom: 5%;
        }
        .logo {
            width: 75%;
            position: relative;
            left: 23%;
        }
    }

    nav,
    .navlinks {
        width: 100%;
        display: flex;
    }

    .navlinks li {
        font-size: $Large;
        list-style-type: none;
        display: inline-block;
        padding-right: 0;
        text-align: center;
        width: 50%;
        div {
            background: $basic-gray;
            height: 4px;
            width: 100%;
            position: relative;
            bottom: 0;
            right: 0;
            top: 15px;
        }
    }
}
