* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: black;
}

* ::-moz-selection {
  background-color: #0065fc;
  color: white;
}

* ::selection {
  background-color: #0065fc;
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 4%;
  font-size: 18px;
}

header .logo {
  width: 60%;
}

.navlinks li {
  list-style-type: none;
  display: inline-block;
  width: 150px;
  text-align: center;
}

.navlinks li div {
  height: 3px;
  width: 100%;
  position: relative;
  bottom: 68px;
}

.navlinks li a {
  text-decoration: none;
}

.navlinks li a:hover {
  color: #0065fc;
}

.navlinks li a:hover + .first-select,
.navlinks li a:hover + .second-select {
  background-color: #0065fc;
}

@media (max-width: 768px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 0 0 0;
  }
  header .logo-a {
    padding-bottom: 5%;
  }
  header .logo {
    width: 75%;
    position: relative;
    left: 23%;
  }
  nav,
  .navlinks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navlinks li {
    font-size: 24px;
    list-style-type: none;
    display: inline-block;
    padding-right: 0;
    width: 50%;
  }
  .navlinks li div {
    background: #f2f2f2;
    height: 4px;
    position: relative;
    bottom: 0;
    right: 0;
    top: 15px;
  }
}

section {
  padding: 0 4%;
  font-size: 18px;
}

h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

form {
  padding: 20px 0;
}

form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

form fieldset legend {
  font-weight: 600;
}

form fieldset .city-choice {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
}

form fieldset .city-choice .icon {
  width: 45px;
  background: #f2f2f2;
  border-radius: 10px 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

form fieldset .city-choice .icon:hover {
  background: #0065fc;
  color: white;
}

form fieldset .city-choice input {
  font-weight: 600;
}

form fieldset .city-choice .search-zone {
  width: 220px;
  padding-left: 20px;
  border: solid #f2f2f2;
  border-width: 1px 0;
}

form fieldset .city-choice .search-zone:focus {
  outline: 1px solid #0065fc;
}

form fieldset .city-choice .search-btn {
  width: 130px;
  border: none;
  border-radius: 0 10px 10px 0;
  background: #0065fc;
  color: white;
  cursor: pointer;
}

form fieldset .city-choice .search-btn:hover {
  background: #f2f2f2;
  color: black;
}

form fieldset .city-choice .search-btn:hover i {
  color: black;
}

form fieldset .city-choice button {
  display: none;
}

form fieldset .filterssearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

form fieldset .filterssearch legend {
  margin-right: 2%;
}

form fieldset .filterssearch .innerfilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form fieldset .filterssearch .innerfilter input[type="checkbox"] {
  display: none;
  position: relative;
}

form fieldset .filterssearch .innerfilter .filter input[type="checkbox"]:hover + .innerlabel {
  background: #0065fc;
}

form fieldset .filterssearch .innerfilter .filter input[type="checkbox"]:hover + .innerlabel i {
  background: #f2f2f2;
  color: black;
}

form fieldset .filterssearch .innerfilter .filter input[type="checkbox"]:hover + .innerlabel label {
  color: white;
}

form fieldset .filterssearch .innerfilter .filter input[type="checkbox"]:checked ~ .innerlabel {
  background: #0065fc;
}

form fieldset .filterssearch .innerfilter .filter input[type="checkbox"]:checked ~ .innerlabel label {
  color: white;
}

form fieldset .filterssearch .innerfilter .innerlabel {
  height: 45px;
  border: solid #d9d9d9;
  border-width: 2px;
  border-radius: 0px 30px 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 50px 0 0;
}

form fieldset .filterssearch .innerfilter .innerlabel i {
  background: #deebff;
  color: #0065fc;
  width: 45px;
  height: calc(100% + 6px);
  border-radius: 30px;
  margin: -3px 0 0 -18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form fieldset .filterssearch .innerfilter .innerlabel label {
  margin: 0 10px 0px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

@media (max-width: 992px) {
  form fieldset .filterssearch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form fieldset .filterssearch legend {
    margin-bottom: 2%;
  }
  form fieldset .filterssearch .innerfilter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  form fieldset .filterssearch .innerfilter .innerlabel {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  section {
    padding: 20px 5% 0 5%;
  }
  form fieldset .city-choice .search-btn {
    width: 45px;
  }
  form fieldset .city-choice .desktop-btn {
    display: none;
  }
  form fieldset .city-choice .mobile-btn {
    display: inline;
  }
  form fieldset .city-choice .mobile-btn i {
    color: white;
  }
}
/*# sourceMappingURL=styles.css.map */