//SCSS Library

$basic-blue: #0065fc;
$light-blue: #deebff;
$basic-gray: #f2f2f2;
$darker-gray: #d9d9d9;
$XLarge: 32px;
$Large: 24px;
$Medium: 18px;
$Small: 14px;
$XSmall: 8px;

//CSS Init
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: black;
    ::selection {
        background-color: $basic-blue;
        color: white;
    }
}

//Header Part
// Desktop
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 4%;
    font-size: $Medium;
    .logo {
        width: 60%;
    }
}

.navlinks li {
    list-style-type: none;
    display: inline-block;
    width: 150px;
    text-align: center;
    div {
        height: 3px;
        width: 100%;
        position: relative;
        bottom: 68px;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        color: $basic-blue;
    }
    a:hover + .first-select,
    a:hover + .second-select {
        background-color: $basic-blue;
    }
}

//Header Part
// Mobile - less than 768px
@media (max-width: 768px) {
    header {
        flex-direction: column;
        box-sizing: border-box;
        margin: 10px 0 0 0;
        .logo-a {
            margin-bottom: 5%;
        }
        .logo {
            width: 75%;
            position: relative;
            left: 23%;
        }
    }

    nav,
    .navlinks {
        width: 100%;
        display: flex;
    }

    .navlinks li {
        font-size: $Large;
        list-style-type: none;
        display: inline-block;
        margin-right: 0;

        width: 50%;
        div {
            background: $basic-gray;
            height: 4px;
            position: relative;
            bottom: 0;
            right: 0;
            top: 15px;
        }
    }
}

//Accomodations Search Section
// Desktop
section {
    margin: 0 4%;
    font-size: $Medium;
}

h1 {
    font-size: $Large;
    margin-bottom: 5px;
}
form {
    margin: 20px 0;
    fieldset {
        padding: 0;
        margin: 0;
        border: none;
        legend {
            font-weight: 600;
        }
        .city-choice {
            height: 45px;
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;
            .icon {
                width: 45px;
                background: $basic-gray;
                border-radius: 14px 0 0 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
            }
            .icon:hover {
                background: $basic-blue;
                color: white;
            }
            input {
                font-weight: 600;
            }
            .search-zone {
                width: 220px;
                padding-left: 20px;
                border: solid $basic-gray;
                border-width: 1px 0;
            }
            .search-zone:focus {
                outline: 1px solid $basic-blue;
            }
            .search-btn {
                width: 130px;
                border: none;
                border-radius: 0 14px 14px 0;
                background: $basic-blue;
                color: white;
                cursor: pointer;
            }
            .search-btn:hover {
                background: $basic-gray;
                color: black;
                i {
                    color: black;
                }
            }
            button {
                display: none;
            }
        }

        //Filters sub-section
        .filterssearch {
            display: flex;
            align-items: baseline;
            legend {
                margin-right: 2%;
            }
            .innerfilter {
                display: flex;
                input[type="checkbox"] {
                    display: none;
                    position: relative;
                }
                .filter {
                    input[type="checkbox"]:hover + .innerlabel {
                        background: $basic-blue;
                        i {
                            background: $basic-gray;
                            color: black;
                        }
                        label {
                            color: white;
                        }
                    }
                    input[type="checkbox"]:checked ~ .innerlabel {
                        background: $basic-blue;
                        label {
                            color: white;
                        }
                    }
                }
                .innerlabel {
                    height: 45px;
                    border: solid $darker-gray;
                    border-width: 2px;
                    border-radius: 0px 30px 30px 0px;
                    display: flex;
                    margin: 0 50px 0 0;
                    i {
                        background: $light-blue;
                        color: $basic-blue;
                        width: 45px;
                        height: calc(100% + 6px);
                        border-radius: 30px;
                        margin: -3px 0 0 -18px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    label {
                        margin: 0 10px 0px 10px;
                        align-items: center;
                        font-weight: 600;
                        display: flex;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

//Accomodations Search Section
// Tablet
@media /*(min-width: 769px) and */(max-width: 992px) {
    form {
        fieldset {
            .filterssearch {
                display: flex;
                flex-direction: column;
                legend {
                    margin-bottom: 2%;
                }
                .innerfilter {
                    margin: 0 5% 0 5%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    .innerlabel {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

.footer-panel {
    display: flex;
    i {
        width: 20px;
        height: 20px;
        border: solid $darker-gray;
        border-width: 1.5px;
        border-radius: 30px;
        padding: 2px 1px 1px 1px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: baseline;
        color: $basic-blue;
        font-size: $Small;
    }
}

//Accomodations Search Section
// Mobile
@media (max-width: 768px) {
    section {
        margin: 20px 5% 0 5%;
    }

    form {
        fieldset {
            .city-choice {
                .search-btn {
                    width: 45px;
                    height: calc(100% + 2px);
                    margin-top: -1px;
                    border-radius: 14px;
                    margin-left: -20px;
                }
                .desktop-btn {
                    display: none;
                }
                .mobile-btn {
                    display: inline;
                    i {
                        color: white;
                    }
                }
            }
        }
    }
}

.accomodations-popular {
    margin: 30px 4%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    h2 {
        font-size: $Large;
        margin-bottom: 20px;
    }

    .hostel-container {
        height: 80%;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        .hostel {
            background: white;
            border-radius: 14px;
        }
    }
    article {
        width: 67%;
        padding: 30px 3% 10px 3%;
        background: $basic-gray;
        border-radius: 14px;
        p {
            font-weight: 600;
        }
        .hostel {
            width: 30%;
            height: 45%;
        }
    }
    aside {
        width: 30%;
        padding: 30px 3% 10px 3%;
        background: $basic-gray;
        border-radius: 14px;
        .hostel-container {
            justify-content: space-between;
            align-content: space-between;
            .hostel {
                width: 100%;
                height: 28%;
            }
        }
    }
}
